Repository microsoft/garnet, pull requests merged in 2024-04, with the labels that each got.

#150 Fix for TYPE command for nonexistent objects
  libs/server/Resp/ArrayCommands.cs
  libs/server/Storage/Session/MainStore/MainStoreOps.cs
Labels: API

#164 Refactor: Separate RESP Command Parsing and Execution
  libs/cluster/Session/ClusterCommands.cs
  libs/cluster/Session/ClusterSession.cs
  libs/cluster/Session/MigrateCommand.cs
  libs/server/Cluster/IClusterSession.cs
  libs/server/Metrics/Info/InfoCommand.cs
  libs/server/Metrics/Latency/RespLatencyCommands.cs
  libs/server/Resp/AdminCommands.cs
  libs/server/Resp/ArrayCommands.cs
  libs/server/Resp/BasicCommands.cs
  libs/server/Resp/Bitmap/BitmapCommands.cs
  libs/server/Resp/HyperLogLog/HyperLogLogCommands.cs
  libs/server/Resp/KeyAdminCommands.cs
  libs/server/Resp/Objects/HashCommands.cs
  libs/server/Resp/Objects/ListCommands.cs
  libs/server/Resp/Objects/SetCommands.cs
  libs/server/Resp/Objects/SharedObjectCommands.cs
  libs/server/Resp/Objects/SortedSetCommands.cs
  libs/server/Resp/Objects/SortedSetGeoCommands.cs
  libs/server/Resp/PubSubCommands.cs
  libs/server/Resp/RespCommand.cs
  libs/server/Resp/RespCommandsInfo.cs
  libs/server/Resp/RespServerSession.cs
  libs/server/Transaction/TxnKeyManager.cs
  libs/server/Transaction/TxnRespCommands.cs
  test/Garnet.test.cluster/ClusterTestUtils.cs
  test/Garnet.test/TestUtils.cs
Labels: parser

#119 Improve FastParseCommand readability
  libs/server/Resp/RespCommand.cs
Labels: parser

#267 A work flow to run secondary configurations every night - currently only MacOS
  .github/workflows/nightly.yml
Labels: ci/cd

#263 Add various GarnetServer binaries to the Garnet Release
  .azure/pipelines/azure-pipelines-external-release.yml
  .azure/pipelines/createbinaries.ps1
  main/GarnetServer/Properties/PublishProfiles/linux-arm64-based.pubxml
  main/GarnetServer/Properties/PublishProfiles/linux-x64-based.pubxml
  main/GarnetServer/Properties/PublishProfiles/osx-arm64-based.pubxml
  main/GarnetServer/Properties/PublishProfiles/osx-x64-based.pubxml
  main/GarnetServer/Properties/PublishProfiles/portable.pubxml
  main/GarnetServer/Properties/PublishProfiles/win-arm64-based-readytorun.pubxml
  main/GarnetServer/Properties/PublishProfiles/win-x64-based-readytorun.pubxml
Labels: ci/cd

#271 Website update
  .gitignore
  website/docs/commands/acl.md
  website/docs/commands/api-compatibility.md
  website/docs/commands/data-structures.md
  website/docs/commands/raw-string.md
  website/sidebars.js
Labels: documentation, website

#189 Add support SUNION command
  libs/server/API/GarnetApiObjectCommands.cs
  libs/server/API/GarnetWatchApi.cs
  libs/server/API/IGarnetApi.cs
  libs/server/Objects/Set/SetObject.cs
  libs/server/Resp/Objects/SetCommands.cs
  libs/server/Resp/RespCommand.cs
  libs/server/Resp/RespCommandsInfo.cs
  libs/server/Resp/RespInfo.cs
  libs/server/Resp/RespServerSession.cs
  libs/server/Storage/Session/ObjectStore/SetOps.cs
  libs/server/Transaction/TxnKeyManager.cs
  test/Garnet.test/RespSetTest.cs
  website/docs/commands/api-compatibility.md
  website/docs/commands/data-structures.md
Labels: API

#200 add SDIFF and SDIFFSTORE.
  libs/server/API/GarnetApiObjectCommands.cs
  libs/server/API/GarnetWatchApi.cs
  libs/server/API/IGarnetApi.cs
  libs/server/Objects/Set/SetObject.cs
  libs/server/Resp/Objects/SetCommands.cs
  libs/server/Resp/RespCommand.cs
  libs/server/Resp/RespCommandsInfo.cs
  libs/server/Resp/RespInfo.cs
  libs/server/Resp/RespServerSession.cs
  libs/server/Storage/Session/ObjectStore/SetOps.cs
  libs/server/Transaction/TxnKeyManager.cs
  test/Garnet.test/RespSetTest.cs
  website/docs/commands/api-compatibility.md
  website/docs/commands/data-structures.md
Labels: API

#249 feat: Add SMOVE Command
  libs/server/API/GarnetApiObjectCommands.cs
  libs/server/API/IGarnetApi.cs
  libs/server/Objects/Set/SetObject.cs
  libs/server/Resp/Objects/SetCommands.cs
  libs/server/Resp/RespCommand.cs
  libs/server/Resp/RespCommandsInfo.cs
  libs/server/Resp/RespInfo.cs
  libs/server/Resp/RespServerSession.cs
  libs/server/Storage/Session/ObjectStore/SetOps.cs
  libs/server/Transaction/TxnKeyManager.cs
  test/Garnet.test/RespSetTest.cs
Labels: API

#255 Command argument parsing improvements
  libs/client/GarnetClientMetrics.cs
  libs/cluster/Server/ClusterConfig.cs
  libs/cluster/Server/ClusterConfigSerializer.cs
  libs/cluster/Server/ClusterManager.cs
  libs/cluster/Server/ClusterManagerSlotState.cs
  libs/cluster/Server/ClusterManagerWorkerState.cs
  libs/cluster/Server/ClusterProvider.cs
  libs/cluster/Server/Failover/PrimaryFailoverSession.cs
  libs/cluster/Server/Failover/ReplicaFailoverSession.cs
  libs/cluster/Server/GarnetClusterConnectionStore.cs
  libs/cluster/Server/GarnetServerNode.cs
  libs/cluster/Server/Gossip.cs
  libs/cluster/Server/Migration/MigrateSession.cs
  libs/cluster/Server/Migration/MigrateSessionSend.cs
  libs/cluster/Server/Replication/PrimaryOps/AofTaskStore.cs
  libs/cluster/Server/Replication/ReplicaOps/ReplicaReceiveCheckpoint.cs
  libs/cluster/Server/Replication/ReplicaOps/ReplicationReplicaAofSync.cs
  libs/cluster/Server/Replication/ReplicationManager.cs
  libs/cluster/Server/Worker.cs
  libs/cluster/Session/ClusterCommands.cs
  libs/cluster/Session/ClusterSlotVerify.cs
  libs/cluster/Session/FailoverCommand.cs
  libs/cluster/Session/MigrateCommand.cs
  libs/cluster/Session/ReplicaOfCommand.cs
  libs/common/FailoverOption.cs
  libs/common/Metrics/InfoMetricsType.cs
  libs/common/RespReadUtils.cs
  libs/common/RespWriteUtils.cs
  libs/host/Configuration/TypeConverters.cs
  libs/server/ACL/ACLParser.cs
  libs/server/ArgSlice/ArgSlice.cs
  libs/server/Custom/CustomCommand.cs
  libs/server/Custom/CustomObjectCommand.cs
  libs/server/Custom/CustomTransaction.cs
  libs/server/Metrics/Info/GarnetInfoMetrics.cs
  libs/server/Metrics/Info/InfoCommand.cs
  libs/server/Metrics/Latency/GarnetLatencyMetrics.cs
  libs/server/Metrics/Latency/GarnetLatencyMetricsSession.cs
  libs/server/Metrics/Latency/RespLatencyCommands.cs
  libs/server/Objects/Hash/HashObjectImpl.cs
  libs/server/Objects/ObjectUtils.cs
  libs/server/Objects/SortedSet/SortedSetObjectImpl.cs
  libs/server/Objects/SortedSetGeo/SortedSetGeoObjectImpl.cs
  libs/server/Resp/ACLCommands.cs
  libs/server/Resp/AdminCommands.cs
  libs/server/Resp/ArrayCommands.cs
  libs/server/Resp/BasicCommands.cs
  libs/server/Resp/Bitmap/BitmapCommands.cs
  libs/server/Resp/KeyAdminCommands.cs
  libs/server/Resp/Objects/SetCommands.cs
  libs/server/Resp/Objects/SortedSetCommands.cs
  libs/server/Resp/RespCommandsInfo.cs
  libs/server/Storage/Session/ObjectStore/SortedSetOps.cs
  test/Garnet.test.cluster/ClientClusterConfig.cs
  test/Garnet.test.cluster/ClusterTestUtils.cs
  test/Garnet.test/RespSortedSetGarnetClientTests.cs
  test/Garnet.test/RespSortedSetGeoTests.cs
  test/Garnet.test/RespTests.cs
  test/Garnet.test/TestUtils.cs
Labels: parser

#309 Bugfix in SRANDMEMBER
  libs/server/Storage/Session/ObjectStore/SetOps.cs
  libs/server/Transaction/TxnKeyManager.cs
Labels: bug, API

#274 Add LSET command
  libs/common/NumUtils.cs
  libs/server/API/GarnetApiObjectCommands.cs
  libs/server/API/IGarnetApi.cs
  libs/server/Objects/List/ListObject.cs
  libs/server/Objects/List/ListObjectImpl.cs
  libs/server/Resp/CmdStrings.cs
  libs/server/Resp/Objects/ListCommands.cs
  libs/server/Resp/RespCommand.cs
  libs/server/Resp/RespCommandsInfo.cs
  libs/server/Resp/RespInfo.cs
  libs/server/Resp/RespServerSession.cs
  libs/server/Storage/Session/ObjectStore/ListOps.cs
  libs/server/Transaction/TxnKeyManager.cs
  test/Garnet.test/RespListTests.cs
  website/docs/commands/api-compatibility.md
  website/docs/commands/data-structures.md
Labels: API
