Repository microsoft/garnet, pull requests merged in 2024-05, with the labels that each got.

#332 Add explicit protocol validation when reading RESP messages
  benchmark/BDN.benchmark/Resp/RespIntegerReadBenchmarks.cs
  libs/client/GarnetClientProcessReplies.cs
  libs/cluster/Session/ClusterSession.cs
  libs/common/Parsing/RespParsingException.cs
  libs/common/RespReadUtils.cs
  libs/server/Metrics/Latency/GarnetLatencyMetrics.cs
  libs/server/Metrics/Latency/GarnetLatencyMetricsSession.cs
  libs/server/Objects/Set/SetObjectImpl.cs
  libs/server/Resp/BasicCommands.cs
  libs/server/Resp/Objects/ListCommands.cs
  libs/server/Resp/RespServerSession.cs
  libs/server/Storage/Session/MainStore/MainStoreOps.cs
  test/Garnet.test/GarnetBitmapTests.cs
  test/Garnet.test/GarnetClientTests.cs
  test/Garnet.test/Resp/RespReadUtilsTests.cs
  test/Garnet.test/RespTests.cs
Labels: parser

#352 Fix: Delete keys locally if _copyOption is set to false
  libs/cluster/Server/Migration/MigrateSessionSlots.cs
  libs/cluster/Server/Migration/MigrationDriver.cs
Labels: bug, cluster

#287 Supported RESP Commands Info
  Garnet.sln
  benchmark/Resp.benchmark/BenchUtils.cs
  benchmark/Resp.benchmark/Resp.benchmark.csproj
  libs/common/EnumUtils.cs
  libs/common/Garnet.common.csproj
  libs/common/LightClientRequest.cs
  libs/common/StreamProvider.cs
  libs/host/Configuration/ConfigProviders.cs
  libs/host/ServerSettingsManager.cs
  libs/server/Custom/CustomCommandManager.cs
  libs/server/Custom/CustomCommandRegistration.cs
  libs/server/Garnet.server.csproj
  libs/server/Resp/AdminCommands.cs
  libs/server/Resp/BasicCommands.cs
  libs/server/Resp/CmdStrings.cs
  libs/server/Resp/IRespSerializable.cs
  libs/server/Resp/RespCommand.cs
  libs/server/Resp/RespCommandInfoFlags.cs
  libs/server/Resp/RespCommandInfoParser.cs
  libs/server/Resp/RespCommandKeySpecification.cs
  libs/server/Resp/RespCommandsInfo.cs
  libs/server/Resp/RespCommandsInfo.json
  libs/server/Resp/RespCommandsInfoProvider.cs
  libs/server/Resp/RespInfo.cs
  libs/server/Resp/RespServerSession.cs
  libs/server/Servers/RegisterApi.cs
  libs/server/Transaction/TxnRespCommands.cs
  main/GarnetServer/CustomRespCommandsInfo.json
  main/GarnetServer/GarnetServer.csproj
  main/GarnetServer/Program.cs
  playground/ClusterStress/ClusterStress.csproj
  playground/CommandInfoUpdater/CommandInfoUpdater.cs
  playground/CommandInfoUpdater/CommandInfoUpdater.csproj
  playground/CommandInfoUpdater/GarnetCommandsInfo.json
  playground/CommandInfoUpdater/Options.cs
  playground/CommandInfoUpdater/Program.cs
  playground/CommandInfoUpdater/SupportedCommand.cs
  samples/MetricsMonitor/Configuration.cs
  test/Garnet.test.cluster/ClusterRedirectTests.cs
  test/Garnet.test.cluster/Garnet.test.cluster.csproj
  test/Garnet.test/Garnet.test.csproj
  test/Garnet.test/GarnetServerConfigTests.cs
  test/Garnet.test/RespAofTests.cs
  test/Garnet.test/RespCommandTests.cs
  test/Garnet.test/RespCustomCommandTests.cs
  test/Garnet.test/RespScanCommandsTests.cs
  test/Garnet.test/RespSortedSetTests.cs
  test/Garnet.test/TestUtils.cs
  website/docs/commands/analytics.md
  website/docs/commands/api-compatibility.md
  website/docs/commands/server.md
  website/docs/dev/garnet-api.md
Labels: enhancement, API

#393 Bugfix - Take CustomRespCommandsInfo.json from bin path
  main/GarnetServer/Program.cs
Labels: bug

#334 API Coverage - Implement SINTER and SINTERSTORE (#180)
  libs/server/API/GarnetApiObjectCommands.cs
  libs/server/API/GarnetWatchApi.cs
  libs/server/API/IGarnetApi.cs
  libs/server/Objects/Set/SetObject.cs
  libs/server/Resp/Objects/SetCommands.cs
  libs/server/Resp/RespCommand.cs
  libs/server/Resp/RespCommandsInfo.json
  libs/server/Resp/RespServerSession.cs
  libs/server/Storage/Session/ObjectStore/SetOps.cs
  libs/server/Transaction/TxnKeyManager.cs
  playground/CommandInfoUpdater/SupportedCommand.cs
  test/Garnet.test/RespSetTest.cs
  website/docs/commands/api-compatibility.md
  website/docs/commands/data-structures.md
Labels: API

#402 LTRIM Fix
  libs/server/Objects/List/ListObject.cs
  libs/server/Objects/List/ListObjectImpl.cs
  test/Garnet.test/RespListTests.cs
Labels: bug, API
