Repository microsoft/garnet, pull requests merged in 2024-03, with the labels that each got.

#48 Fix link in SUPPORT.md and adding vscode and rider files to gitignore
  .gitignore
  SUPPORT.md
Labels: documentation

#43 Fix typos in resp-bench.md
  website/docs/benchmarking/resp-bench.md
Labels: documentation

#42 Update results-resp-bench.md
  website/docs/benchmarking/results-resp-bench.md
Labels: documentation

#49 Spell check objects.md
  website/docs/extensions/objects.md
Labels: documentation

#50 Updated path ignore for push and pull requests
  .github/workflows/ci.yml
Labels: bug

#145 Spanify TsavoriteLogRecoveryInfo deserialization
  libs/cluster/Server/Replication/ReplicaOps/ReplicationReplicaAofSync.cs
  libs/storage/Tsavorite/cs/src/core/TsavoriteLog/TsavoriteLog.cs
  libs/storage/Tsavorite/cs/src/core/TsavoriteLog/TsavoriteLogIterator.cs
  libs/storage/Tsavorite/cs/src/core/TsavoriteLog/TsavoriteLogRecoveryInfo.cs
Labels: storage

#147 Fixing broken anchors in api-compatibility
  website/docs/commands/api-compatibility.md
  website/docs/commands/data-structures.md
  website/docs/commands/generic-commands.md
  website/src/css/custom.css
Labels: website

#115 Support `HSTRLEN` command.
  libs/server/API/GarnetApiObjectCommands.cs
  libs/server/API/GarnetWatchApi.cs
  libs/server/API/IGarnetApi.cs
  libs/server/Objects/Hash/HashObject.cs
  libs/server/Objects/Hash/HashObjectImpl.cs
  libs/server/Resp/Objects/HashCommands.cs
  libs/server/Resp/RespCommand.cs
  libs/server/Resp/RespCommandsInfo.cs
  libs/server/Resp/RespInfo.cs
  libs/server/Resp/RespServerSession.cs
  libs/server/Storage/Session/ObjectStore/HashOps.cs
  libs/server/Transaction/TxnKeyManager.cs
  test/Garnet.test/RespHashTests.cs
  website/docs/commands/api-compatibility.md
  website/docs/commands/data-structures.md
Labels: API

#148 Minor follow-up optimizations
  libs/common/Memory/LimitedFixedBufferPool.cs
  libs/storage/Tsavorite/cs/src/core/Allocator/GenericAllocator.cs
  libs/storage/Tsavorite/cs/src/core/Allocator/MallocFixedPageSize.cs
  libs/storage/Tsavorite/cs/src/core/Utilities/BufferPool.cs
  libs/storage/Tsavorite/cs/test/MallocFixedPageSizeTests.cs
Labels: storage

#146 Remove unnecessary preprocessor directives
  libs/client/LightEpoch.cs
  libs/cluster/Server/ClusterManager.cs
  libs/common/RespReadUtils.cs
  libs/storage/Tsavorite/cs/src/core/Device/ManagedLocalStorageDevice.cs
  libs/storage/Tsavorite/cs/test/TestUtils.cs
  playground/Bitmap/BitCount.cs
Labels: storage

#102 Cluster Misc Cleanup
  libs/cluster/CmdStrings.cs
  libs/cluster/Server/ClusterManager.cs
  libs/cluster/Server/ClusterManagerSlotState.cs
  libs/cluster/Server/ClusterManagerWorkerState.cs
  libs/cluster/Server/Migration/MigrateSessionSlots.cs
  libs/cluster/Session/ClusterCommands.cs
  libs/cluster/Session/ClusterSlotCheck.cs
  libs/cluster/Session/FailoverCommand.cs
  libs/cluster/Session/MigrateCommand.cs
  libs/cluster/Session/ReplicaOfCommand.cs
  test/Garnet.test.cluster/ClusterAuthCommsTests.cs
  test/Garnet.test.cluster/ClusterManagementTests.cs
  test/Garnet.test.cluster/ClusterMigrateTests.cs
  test/Garnet.test.cluster/ClusterRedirectTests.cs
  test/Garnet.test.cluster/ClusterReplicationTests.cs
  test/Garnet.test.cluster/ClusterTestContext.cs
  test/Garnet.test.cluster/ClusterTestUtils.cs
  test/Garnet.test.cluster/Garnet.test.cluster.csproj
  test/Garnet.test/CredentialManager.cs
  test/Garnet.test/ServerCredential.cs
  test/Garnet.test/TestUtils.cs
Labels: cluster

#118 Add ZMSCORE command support
  .gitignore
  libs/server/API/GarnetApiObjectCommands.cs
  libs/server/API/GarnetWatchApi.cs
  libs/server/API/IGarnetApi.cs
  libs/server/Objects/SortedSet/SortedSetObject.cs
  libs/server/Objects/SortedSet/SortedSetObjectImpl.cs
  libs/server/Resp/CmdStrings.cs
  libs/server/Resp/Objects/SortedSetCommands.cs
  libs/server/Resp/RespCommand.cs
  libs/server/Resp/RespCommandsInfo.cs
  libs/server/Resp/RespInfo.cs
  libs/server/Resp/RespServerSession.cs
  libs/server/Storage/Session/ObjectStore/SortedSetOps.cs
  libs/server/Transaction/TxnKeyManager.cs
  test/Garnet.test/RespSortedSetTests.cs
Labels: API
